p, h1, h2, h3, h4, h5, h6, button {
    font-family: "Inter", serif;
}

a {
    text-decoration: none;
    position: relative;
    color: inherit;
}
body {
    background-color: #f5f5f9;
    background-size: cover;
    width: auto; 
    overflow-x: hidden;
    font-family: "Inter", serif;
    margin: 0px;
}

.grow {
    flex-grow: 1;
}

.flex {
    display: flex;
}

.flex.center {
    justify-content: center;
    align-items: center;
}

.flex.down {
    flex-direction: column;
}

.nav-bar {
    width: 100%;
    height: 80px;
    background-color: #1C539F;
    font-family: "Inter", serif;
    font-weight: 700 !important;
}

.nav-content {
    height: 100%;
    text-align: center;
    color: white;
}

.nav-content > * {
    margin-left: 25px;
    margin-right: 25px;
}

.nav-content img {
    border-radius: 50%;
    height: 75px
}
.nav-content .logo-touch-target {
    display: inline-flex;
    height: 60%;
    width: 350px;
}

.nav-content .nav-logo {
    height: 60px;
    margin: auto;
}

.nav-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-content a {
    cursor: pointer;
    font-size: 1.5em;
    margin: 0 24px;
    transition: .25 color ease-in;
}

.nav-content a:hover {
    color: #f8b61b;
}

.nav-logo img {
    width: 200px;

}

.nav-content nav, .nav-content {
    padding-top: 0px;
    padding-right: 0px;
    align-items: center;
}

.profile {
    background-color: #1d539f !important;
    text-align: center;
    height: 320px;
    margin-bottom: 50px;
}

.profile h1 {
        font-size: 50px;
        font-weight: 700;
        color: white;
}

.profile img {
        border-radius: 50%;
        max-width: 100%;
        max-height: 100%;
        margin-left: auto;
        margin-right: auto;
        display: block;        
        padding: 20px;
}

.profile .profile-picture {
    margin-bottom: 30px;
    height: 200px;
}

.banner {
    padding: 20px 0px 50px 0px;
    height: 150px;
    background-color: #1d539f;
}

.banner .logo {
    max-width:180px;
    max-height:60px;
    width: auto;
    height: auto;
}

.banner .title {
    color: white;
    font-size: 50px;
    font-weight: 700;
}
.contact{
    width: 100%;
    background-color: #FD6054;
    padding: 60px; 
    margin-bottom: 242px;
    position: relative;
}
 
footer {
    width: 100%;
    background-color: #F8B92A; 
    padding: 60px; 
    text-align: center;
    position: absolute;
    right: 0px;
    bottom: 0px;
    margin-top: -282px;
}
.upArrow {
    position: absolute;
    right: 45px;
    bottom: 40px;
    filter: sepia(100%) hue-rotate(185deg) brightness(47%) saturate(500%);
}

.fill-purple
{
  background-image: linear-gradient(90deg, #ff7bbd, #a34dfe); 
}

.fill-green
{
  background-image: linear-gradient(90deg, #ffe40c, #33d497);
}

.fill-blue
{
  background-image: linear-gradient(90deg, #285ca5, #18d5ff);
}

.fill-orange
{
  background-image: linear-gradient(90deg, #fcf595, #ff954d);
}

.cards
{
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:center;
  position: relative;
  height:21.875rem;
  width:100%;
  border-radius: 55px;
}
.user {
  width:600px;
  height:300px;
  transform-origin:center center;
  position:absolute;
  z-index:3;
  left: 33%;
  margin-top: -182px;
}

.fillColor
{
  background-image: linear-gradient(90deg,  #4addff, #285ca5);
  border-radius: 25px;
  padding: 20px;
}

.userBtn{
  display: inline-block;
  padding: 5px 25px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none; 
  color: #fff;
  background-color: #285ca5;
  border: none;
  border-radius: 25px;
  box-shadow: 0 9px #4addff;
  float: left;
  margin-left: 15%;
  margin-top: -10px;
  width:80%;
  align-items:center;
  justify-content:center; 
}

.userBtn:hover {
    background-color: #4addff; 
    box-shadow: #285ca5;}

.userBtn:active {
  background-color:#4addff;
  box-shadow: 0 5px #285ca5;
  transform: translateY(4px);
}

h3{
  position:relative
}

h4 {
  margin: 30px;
}

.card
{
  display:flex;
  width:27.8125rem;
  height:16.25rem;
  border-radius:0.5rem;
  transform-origin:center center;
  transform:scale(1) translate(0px,0px) perspective( 750px ) rotateY(0deg);
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-duration: 0.5s;
  position:absolute;
  box-shadow:0 30px 50px rgba(0,0,0,0.1);
  z-index:3;
  cursor: pointer;
  overflow:hidden;
  margin-top: -200px;
}

.card *
{
  pointer-events: none;
}

.card--left
{
  transform:scale(0.75) translate(-335px,0px) perspective( 750px ) rotateY(10deg);
  box-shadow:0 15px 25px rgba(0,0,0,0.1);
  z-index:2;
}

.card--center
{
  transform:scale(1) translate(0px, 0px) perspective( 750px ) rotateY(0deg);
  box-shadow:0 30px 50px rgba(0,0,0,0.1);
  z-index:3;
}

.card--right
{
  transform:scale(0.75) translate(335px,0px) perspective( 750px ) rotateY(-10deg);
  box-shadow:0 15px 25px rgba(0,0,0,0.1);
  z-index:2;
}

.card--back
{
  transform:scale(0.5) translate(0px, 0px) perspective(750px) rotateY(0deg);
  box-shadow: 0 30px 50px rgba(0,0,0,0.1);
  z-index:1;
}

.card__icon
{
  width:30%;
  height:100%;
  position:relative;
  display:flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
}

.card__icon:before
{
  content:attr(data-icon);
  font-size:30px;
  position:absolute;
  display:flex;
  align-items: center;
  justify-content: center;
  width:100px;
  height:100px;
  border-radius: 50px;
}

.card__detail
{
  flex:1;
  display:flex;
  align-items: center;
  justify-content: center;
}

.parallax1 {
  background-image: url("images/holdingtube.jpg");
  
  height: 800px;

  /* Creating the parallax effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax2 {
  background-image: url("images/equipement.jpg");

  height: 900px;

  /* Creating the parallax effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width : 736px)
{
  .cards
  {
    flex-direction:column;
    margin:auto 0;
  }

  .card
  {
    display:flex;
    width:90%;
  }

  .card--left
  {
    transform:scale(0.75) translate(0px, -150px) perspective(750px) rotateY(0) rotateX(-10deg) translateZ(-5px);
  }

  .card--center
  {
    transform:scale(1) translate(0px, 0px) perspective( 750px ) rotateY(0deg)  rotateX(0deg) translateZ(5px);
  }

  .card--right
  {
    transform:scale(0.75) translate(0px, 150px) perspective(750px) rotateY(0) rotateX(10deg) translateZ(-5px);
  }

  .card--back
  {
    transform:scale(0.5) translate(0px, 0px) perspective(750px) rotateY(0deg) rotateX(0deg) translateZ(-8px);
  }

  .card__icon:before
  {
    transform:scale(0.75);
  }

  .button{
    display: block;
    float: none;
    margin: 0%;
    margin-top: 32px;
    width: 100%
  }  
}