:root {
    --blue: #1C539F;
}

p, a, button {
    font-family: "Inter", serif;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Bungee", serif;
}

html, body {
    height: 100%;
}

a {
    text-decoration: none;
    position: relative;
    color: inherit;
    margin-right: 20px;
}
body {
    background-color: #f5f5f9;
    background-size: cover;
    width: auto; 
    overflow-x: hidden;
    font-family: "Inter", serif;
    margin: 0px;
}

.grow {
    flex-grow: 1;
}

.flex {
    display: flex;
}

.flex.center {
    justify-content: center;
    align-items: center;
}

.flex.down {
    flex-direction: column;
}

.nav-bar {
    width: 100%;
    height: 80px;
    background-color: #1C539F;
    position: fixed; 
    z-index: 1;
}

.nav-content {
    height: 100%;
    text-align: center;

}

.nav-content > * {
    margin-left: 25px;
    margin-right: 25px;
}

.nav-content img {
    height: 60px
}
.nav-content .logo-touch-target {
    display: inline-flex;
    height: 60%;
    width: 350px;
}

.nav-content .nav-logo {
    height: 60px;
    margin: auto;
}

.nav-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-content a {
    cursor: pointer;
    font-size: 36px;
    margin: 0 24px;
    transition: .1s color ease-in;
    font-family: 'Monoton', cursive;
    color: white;
}

.nav-content a:hover {
    color: #ffb300;
}

.nav-logo img {
    width: 200px;
}

.nav-content nav, .nav-content {
    padding-top: 0px;
    padding-right: 0px;
    align-items: center;
}

#hamburger {
    visibility: hidden;
    position: absolute;
    height: 50px;
    cursor: pointer;
}

#side {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: -100%;
    transition: .2s left ease-in
}

.home-page {
    height: 100%;
    background-image: url("/static/img/bg.png");
    background-color: black;
    background-size: 100%;
    background-repeat: no-repeat;
    color: white;
}

.home-page h1, .home-page h2 {
    font-size: 150px;
    font-family: "Monoton", serif !important;
    font-weight: 400;
    text-align: center;
}

.home-page h2 {
    font-size: 60px;
}

.break-from-home {
    height: 50px;
    background-color: var(--blue);
}

<<<<<<< HEAD
.banner .title {
    color: white;
    font-size: 50px;
    font-weight: 700;
}
.contact{
    width: 100%;
    background-color: #FD6054;
    padding: 40px; 
}

footer {
    width: 100%;
    background-color: #F8B92A; 
    padding: 50px; 
    text-align: center;
    right: 0px;
    bottom: 0px;
}
.upArrow {
    float: right;
    right: 100px;
    bottom: 5px;
    filter: sepia(100%) hue-rotate(185deg) brightness(47%) saturate(500%);
}

.fill-purple
{
  background-image: linear-gradient(90deg, #ff7bbd, #a34dfe); 
}

.fill-green
{
  background-image: linear-gradient(90deg, #ffe40c, #33d497);
}

.fill-blue
{
  background-image: linear-gradient(90deg, #285ca5, #18d5ff);
}

.fill-orange
{
  background-image: linear-gradient(90deg, #fcf595, #ff954d);
}

.cards
{
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:center;
  position: relative;
  height:21.875rem;
  width:100%;
  border-radius: 55px;
}
.user {
  width:600px;
  height:300px;
  transform-origin:center center;
  position:absolute;
  z-index:3;
  left: 33%;
  margin-top: -182px;
}

.fillColor
{
  background-image: linear-gradient(90deg,  #4addff, #285ca5);
  border-radius: 25px;
  padding: 20px;
}

.userBtn{
  display: inline-block;
  padding: 5px 25px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none; 
  color: #fff;
  background-color: #285ca5;
  border: none;
  border-radius: 25px;
  box-shadow: 0 9px #4addff;
  float: left;
  margin-left: 15%;
  margin-top: -10px;
  width:80%;
  align-items:center;
  justify-content:center; 
}

.userBtn:hover {
    background-color: #4addff; 
    box-shadow: #285ca5;}

.userBtn:active {
  background-color:#4addff;
  box-shadow: 0 5px #285ca5;
  transform: translateY(4px);
}

h3{
  position:relative
}

h4 {
  margin: 30px;
}

.card
{
  display:flex;
  width:27.8125rem;
  height:16.25rem;
  border-radius:0.5rem;
  transform-origin:center center;
  transform:scale(1) translate(0px,0px) perspective( 750px ) rotateY(0deg);
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-duration: 0.5s;
  position:absolute;
  box-shadow:0 30px 50px rgba(0,0,0,0.1);
  z-index:3;
  cursor: pointer;
  overflow:hidden;
  margin-top: -200px;
}

.card *
{
  pointer-events: none;
}

.card--left
{
  transform:scale(0.75) translate(-335px,0px) perspective( 750px ) rotateY(10deg);
  box-shadow:0 15px 25px rgba(0,0,0,0.1);
  z-index:2;
}

.card--center
{
  transform:scale(1) translate(0px, 0px) perspective( 750px ) rotateY(0deg);
  box-shadow:0 30px 50px rgba(0,0,0,0.1);
  z-index:3;
}

.card--right
{
  transform:scale(0.75) translate(335px,0px) perspective( 750px ) rotateY(-10deg);
  box-shadow:0 15px 25px rgba(0,0,0,0.1);
  z-index:2;
}

.card--back
{
  transform:scale(0.5) translate(0px, 0px) perspective(750px) rotateY(0deg);
  box-shadow: 0 30px 50px rgba(0,0,0,0.1);
  z-index:1;
}

.card__icon
{
  width:30%;
  height:100%;
  position:relative;
  display:flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
}

.card__icon:before
{
  content:attr(data-icon);
  font-size:30px;
  position:absolute;
  display:flex;
  align-items: center;
  justify-content: center;
  width:100px;
  height:100px;
  border-radius: 50px;
}

.card__detail
{
  flex:1;
  display:flex;
  align-items: center;
  justify-content: center;
}

.parallax1 {
  background-image: url("images/holdingtube.jpg");
  
  height: 800px;

  /* Creating the parallax effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax2 {
  background-image: url("images/equipement.jpg");

  height: 900px;

  /* Creating the parallax effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.timeline{
  margin-top:20px;
  position:relative;
  
}

.timeline:before{
  position:absolute;
  content:'';
  width:4px;
  height:calc(100% + 50px);
background: rgb(138,145,150);
background: -moz-linear-gradient(left, rgba(138,145,150,1) 0%, rgba(122,130,136,1) 60%, rgba(98,105,109,1) 100%);
background: -webkit-linear-gradient(left, rgba(138,145,150,1) 0%,rgba(122,130,136,1) 60%,rgba(98,105,109,1) 100%);
background: linear-gradient(to right, rgba(138,145,150,1) 0%,rgba(122,130,136,1) 60%,rgba(98,105,109,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8a9196', endColorstr='#62696d',GradientType=1 );
  left:14px;
  top:5px;
  border-radius:4px;
}

.timeline-month{
  position:relative;
  padding:4px 15px 4px 35px;
  background-color:#1C539F;
  display:inline-block;
  width:auto;
  border-radius:40px;
  border:1px solid black;
  border-right-color: #F8B92A;
  margin-bottom:30px;
  color:white;
}

.timeline-month span{
  position:absolute;
  top:-1px;
  left:calc(100% - 10px);
  z-index:-1;
  white-space:nowrap;
  display:inline-block;
  background-color:#111;
  padding:4px 10px 4px 20px;
  border-top-right-radius:40px;
  border-bottom-right-radius:40px;
  border:1px solid black;
  box-sizing:border-box;
}

.timeline-month:before{
  position:absolute;
  content:'';
  width:20px;
  height:20px;
background: rgb(138,145,150);
background: -moz-linear-gradient(top, rgba(138,145,150,1) 0%, rgba(122,130,136,1) 60%, rgba(112,120,125,1) 100%);
background: -webkit-linear-gradient(top, rgba(138,145,150,1) 0%,rgba(122,130,136,1) 60%,rgba(112,120,125,1) 100%);
background: linear-gradient(to bottom, rgba(138,145,150,1) 0%,rgba(122,130,136,1) 60%,rgba(112,120,125,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8a9196', endColorstr='#70787d',GradientType=0 );
  border-radius:100%;
  border:1px solid #17191B;
  left:5px;
}

.timeline-section{
  padding-left:35px;
  display:block;
  position:relative;
  margin-bottom:30px;
}

.timeline-date{
  margin-bottom:15px;
  padding:2px 15px;
  background:linear-gradient(#74cae3, #5bc0de 60%, #4ab9db);
  position:relative;
  display:inline-block;
  border-radius:20px;
  border:1px solid #17191B;
  color:#fff;
text-shadow:1px 1px 1px rgba(0,0,0,0.3);
}
.timeline-section:before{
  content:'';
  position:absolute;
  width:30px;
  height:1px;
  background-color:#444950;
  top:12px;
  left:20px;
}

.timeline-section:after{
  content:'';
  position:absolute;
  width:10px;
  height:10px;
  background:linear-gradient(to bottom, rgba(138,145,150,1) 0%,rgba(122,130,136,1) 60%,rgba(112,120,125,1) 100%);
  top:7px;
  left:11px;
  border:1px solid #17191B;
  border-radius:100%;
}

.timeline-section .col-sm-4{
  margin-bottom:15px;
}

.timeline-box{
  position:relative;
  
 background-color:#1C539F;
  color: white;
  border-radius:15px;
  border-top-left-radius:0px;
  border-bottom-right-radius:0px;
  border:1px solid #17191B;
  transition:all 0.3s ease;
  overflow:hidden;
  width:50%;
}

.box-icon{
  position:absolute;
  right:5px;
  top:0px;
}

.box-title{
  padding:5px 15px;
  border-bottom: 1px solid #1C539F;
  margin-right:500px;
}

.box-title i{
  margin-right:5px;
}

.box-content{
  padding:5px 15px;
  background-color:#F8B92A;
  width:100%;

}

.box-content strong{
  color:#666;
  font-style:italic;
  margin-right:5px;
}

.box-item{
  margin-bottom:5px;
}

.box-footer{
 padding:5px 15px;
  border-top: 1px solid #17191B;
  background-color:#444950;
  text-align:right;
  font-style:italic;
}

@media only screen and (max-width : 736px)
{
  .cards
  {
    flex-direction:column;
    margin:auto 0;
  }

  .card
  {
    display:flex;
    width:90%;
  }

  .card--left
  {
    transform:scale(0.75) translate(0px, -150px) perspective(750px) rotateY(0) rotateX(-10deg) translateZ(-5px);
  }

  .card--center
  {
    transform:scale(1) translate(0px, 0px) perspective( 750px ) rotateY(0deg)  rotateX(0deg) translateZ(5px);
  }

  .card--right
  {
    transform:scale(0.75) translate(0px, 150px) perspective(750px) rotateY(0) rotateX(10deg) translateZ(-5px);
  }

  .card--back
  {
    transform:scale(0.5) translate(0px, 0px) perspective(750px) rotateY(0deg) rotateX(0deg) translateZ(-8px);
  }

  .card__icon:before
  {
    transform:scale(0.75);
  }

  .button{
    display: block;
    float: none;
    margin: 0%;
    margin-top: 32px;
    width: 100%
  }  
=======
@media (max-width: 1250px) {
    .nav-content:not(.flex.down) a{
        visibility: hidden;
        position: absolute;
    }

    .nav-content > * {
        margin-top: 2vh !important;
        margin-bottom: 3vh !important;
    }

    #hamburger {
        visibility: visible;
        position: unset;
    }
}

@media (max-width: 1375px) {
    .home-page h1 {
        font-size: 100px;
    }
    .home-page h2 {
        font-size: 45px;
    }
}

@media (max-width: 940px) {
    .home-page h1 {
        font-size: 75px;
    }
    .home-page h2 {
        font-size: 30px;
    }
>>>>>>> 7afb91286b08d1f72f8c0d2cd80e68d635ab7df0
}