<div id="side">
    <div class="nav-bar nav-content flex down">
        <img src="/static/img/logo.svg">
        <a href="#home">
            Home
        </a>
        <a href="#experience">
            Experience
        </a>
        <a href="#blog">
            Blog
        </a>
        <a href="#contact">
            Contact
        </a>
        <a href="/login">
            Login
        </a>
    </div>
</div>
<header class="nav-bar">
    <div class="nav-content flex">
        <img src="/static/img/logo.svg">
        <div class="grow"></div>
        <nav class="flex">
            <a href="#home">
                Home
            </a>
            <a href="#experience">
                Experience
            </a>
            <a href="#blog">
                Blog
            </a>
            <a href="#contact">
                Contact
            </a>
            <img src="/static/img/hamburger.svg" id="hamburger">
        </nav>
    </div>
</header>
