{% extends 'base.html' %}
{% block title %}{{title}}{% endblock %}

{% block body %}

<br><br><br>
<!-- About Us Section-->
<section style="background-color:#8ecae6;" id="about">
	<h2 style="font-family: Bungee;">Contact Us</h2><br>
	<br><br><br>
	<div class="cards">
	  <div class="card fill-purple" data-card="0">
		<div class="card__icon" data-icon="Hamdia Abdullahi"></div>
		<hr>
		<div class="card__detail">
		  <br>
		  <h4>~3rd Year CS student <br> ~MLH Fellow</h4> <br>
		  <a href="#" class="fa fa-lg fa-linkedin"></a> 
		  <a href="#" class="fa fa-lg fa-github"></a>  
		  <a href="#" class="fa fa-lg fa-envelope-o"></a>  
		</div>
	  </div>
	  <div class="card fill-blue" data-card="1">
		<div class="card__icon" data-icon="Lance Ellis"></div>
		<hr>
		<div class="card__detail">
		  <br>
		  <h4>~1st Year Astronomy student <br> ~MLH Fellow</h4>
		  <a href="#" class="fa fa-lg fa-linkedin"></a> 
		  <a href="#" class="fa fa-lg fa-github"></a>  
		  <a href="#" class="fa fa-lg fa-envelope-o"></a>  
		</div>
	  </div>
	  <div class="card fill-green" data-card="2">
		<div class="card__icon" data-icon="Joseph Tefera"></div>
		<hr>
		<div class="card__detail">
		  <br>
		  <h4>~3rd Year Financial Technology student <br> ~MLH Fellow</h4>
		</div>
	  </div>
		
</section>
{% endblock %}

